[automationcontroller]

[database]

[automationhub]
{{ controller_ah_instance_name }} ansible_user={{ host_user }} ansible_connection=local

[all:vars]

# Execution Environment Configuration
# Credentials for container registry to pull execution environment images from,
# registry_username and registry_password are required for registry.redhat.io

registry_url='registry.redhat.io'
registry_username='{{ registry_username }}'
registry_password='{{ registry_password }}'

automationhub_admin_password='redhat'

automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password='redhat'
automationhub_pg_sslmode='prefer'

# Receptor Configuration
receptor_listener_port=27199

# Automation Services Catalog Configuration

automationcatalog_pg_host='{{ controller_instance_name }}'
automationcatalog_pg_port=5432

automationcatalog_pg_database='automationservicescatalog'
automationcatalog_pg_username='automationservicescatalog'
automationcatalog_pg_password='redhat'

insights_username='{{ rhsm_username | default(omit) }}'
insights_password='{{ rhsm_password | default(omit) }}'

# The default install will register node to the Red Hat Insights Service
# if the node is registered with Subscription Manager. Set to False to disable.
enable_insights_collection = True