[insights-client]
#obfuscate_hostname=True
#obfuscate=True
username={{ rhsm_username | default(omit, true) }}
password={{ rhsm_password | default(omit, true) }}
auto_config={{ auto_config | default(omit, true) }}
authmethod={{ authmethod | default(omit, true) }}
display_name="{{ display_name | default(omit, true) }}"