[automationcontroller]
localhost ansible_connection=local

[automationcontroller:vars]
peers=execution_nodes

[database]

[all:vars]
admin_password='redhat'

pg_host=''
pg_port='5432'

pg_database='awx'
pg_username='awx'
pg_password='redhat'

registry_url='registry.redhat.io'
registry_username="{{ registry_username }}"
registry_password="{{ registry_password }}"